@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
  height: 100%;
  margin: 0;
}

.app-root {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
}

.reactflow-wrapper {
  height: 100%;
  width: 100%;
  overflow: auto;
}
